body {
    background-color: #818cf8;
    font-family: effra, sans-serif;
    font-weight: 300;
    font-style: normal;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3E%3Cg fill='%23f1f5f9' fill-opacity='0.26'%3E%3Cpath fill-rule='evenodd' d='M0 0h4v4H0V0zm4 4h4v4H4V4z'/%3E%3C/g%3E%3C/svg%3E");
}

.flex-container {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    align-items: center;
}

.inner-container {
    padding: 0 1rem;
}

/*********** Typography ************/

h1 {
    font-size: 1.125rem;
    line-height: 3.75rem;
}


h2 {
    font-family: effra, sans-serif;
    font-weight: 700;
    font-style: normal;
}

/*********** Header ************/

header {
    background-color: #f8fafc;
}

button {
    background-color: #f8fafc;
    border: none;
}

svg {
    width: 1.25rem;
}

header a {
    text-decoration: none;
    color: #475569;
    font-size: 0.875rem;
}

h1 a {
    color: #dc2626;
}

nav {
    position: absolute;
    background-color: #f8fafc;
    visibility: hidden;
    opacity: 0;
    width: 98vw;
    top: 3.75rem;
    left: 0;
    overflow: hidden;
}

.show-nav {
    visibility: visible;
    opacity: 1;
    flex: 1 0 100%;
    width: 100vw;
}

.menu li {
    line-height: 3.125rem;
}

.menu a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.5rem;
}

.menu a:hover {
    background-color: #e2e8f0;
}

.menu svg {
    width: 10px;
}

.submenu {
    visibility: hidden;
    opacity: 0;
    overflow: hidden;
    max-height: 0;
}

.submenu li {
    border-bottom: 1px solid #cbd5e1;
}

.menu li:hover > .submenu {
    visibility: visible;
    opacity: 1;
    overflow: visible;
    max-height: 14.0625rem;
}

@media screen and (min-width: 1100px) {

    .inner-container {
        padding: 0;
        width: 1000px;
        margin: 0 auto;
    }

    .button {
        display: none;
    }

    nav {
        position: unset;
        visibility: visible;
        opacity: 1;
        overflow: visible;
        width: unset;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
    }

    .menu li {
        display: inline-block;
    }

    .inner-container > a {
        order: 1;
    }

    .submenu {
        position: absolute;
        top: 3.125rem;
        background-color: #f8fafc;
    }

    .submenu li {
        display: block;
        width: 10.5rem;
    }

    li svg {
        padding-left: 5px;
    }
}
